In [1]:
import pandas as pd
import re
from openpyxl import load_workbook

In [2]:
pd.set_option('display.max_rows', 100)

In [52]:
census2011provlocalmun = pd.read_csv("census-2011-2016-boundaries-pr-mn-highest-edu-level-20-24.csv", skiprows=9)
census2011districtmun = pd.read_csv("census-2011-2016-boundaries-dc-highest-edu-level-20-24.csv", skiprows=9)
census2011 = pd.concat([census2011provlocalmun, census2011districtmun])
census2011

,Summation Options,Age in completed years,Geography 2016,Highest level of education,Count,Unnamed: 5
0,Person adjusted,20-24,Western Cape,Less than Grade 9,8.004658e+04,NaN
1,Person adjusted,20-24,Western Cape,Grade 9,5.004903e+04,NaN
2,Person adjusted,20-24,Western Cape,Matric/Matric equivalent,2.320854e+05,NaN
3,Person adjusted,20-24,Western Cape,Grade 10/11 equivalent,1.576093e+05,NaN
4,Person adjusted,20-24,Western Cape,Any tertiary,2.980904e+04,NaN
...,...,...,...,...,...,...
261,Person adjusted,20-24,Total,Grade 9,3.480510e+05,NaN
262,Person adjusted,20-24,Total,Matric/Matric equivalent,2.334878e+06,NaN
263,Person adjusted,20-24,Total,Grade 10/11 equivalent,1.590670e+06,NaN
264,Person adjusted,20-24,Total,Any tertiary,2.124292e+05,NaN
265,(c) Copyright Statistics South Africa,NaN,NaN,NaN,NaN,NaN

In [53]:
census2011 = census2011.drop(columns=["Summation Options", "Age in completed years", "Unnamed: 5"])
census2011.columns = ["Geography", "Highest level of education", "Count"]
census2011 = census2011[census2011["Geography"] != "Total"]
census2011 = census2011[census2011["Highest level of education"] != "Total"]
census2011 = census2011.dropna()
census2011

        Geography Highest level of education         Count
0    Western Cape          Less than Grade 9   80046.57561
1    Western Cape                    Grade 9   50049.02640
2    Western Cape   Matric/Matric equivalent  232085.43100
3    Western Cape     Grade 10/11 equivalent  157609.29435
4    Western Cape               Any tertiary   29809.04013
..            ...                        ...           ...
255          DC47          Less than Grade 9   13058.90849
256          DC47                    Grade 9    9794.40213
257          DC47   Matric/Matric equivalent   32282.78476
258          DC47     Grade 10/11 equivalent   45479.28101
259          DC47               Any tertiary    1952.10383

[1370 rows x 3 columns]

In [54]:
commsurv2016 = pd.read_csv("community-survey-2016-pr-dc-mn-highest-edu-level-20-24.csv", skiprows=9)
commsurv2016

,Summation Options,Age - 5 year age groups,Geography hierarchy 2016,Highest level of education,Count,Unnamed: 5
0,Person Weight,20-24,Western Cape,(CS2016) Any tertiary,2.985805e+04,NaN
1,Person Weight,20-24,Western Cape,(CS2016) Grade 10/11 equivalent,1.430308e+05,NaN
2,Person Weight,20-24,Western Cape,(CS2016) Grade 9,4.837358e+04,NaN
3,Person Weight,20-24,Western Cape,(CS2016) Less than Grade 9,5.729668e+04,NaN
4,Person Weight,20-24,Western Cape,(CS2016) Matric/Metric equivalent,2.789520e+05,NaN
...,...,...,...,...,...,...
1371,Person Weight,20-24,Total,(CS2016) Grade 10/11 equivalent,1.589488e+06,NaN
1372,Person Weight,20-24,Total,(CS2016) Grade 9,3.982273e+05,NaN
1373,Person Weight,20-24,Total,(CS2016) Less than Grade 9,5.810968e+05,NaN
1374,Person Weight,20-24,Total,(CS2016) Matric/Metric equivalent,2.430250e+06,NaN
1375,(c) Copyright Statistics South Africa,NaN,NaN,NaN,NaN,NaN

In [55]:
commsurv2016 = commsurv2016.drop(columns=["Summation Options", "Age - 5 year age groups", "Unnamed: 5"])
commsurv2016.columns = ["Geography", "Highest level of education", "Count"]
commsurv2016 = commsurv2016[commsurv2016["Geography"] != "Total"]
commsurv2016 = commsurv2016[commsurv2016["Highest level of education"] != "Total"]
commsurv2016 = commsurv2016.dropna()
commsurv2016

,Geography,Highest level of education,Count
0,Western Cape,(CS2016) Any tertiary,29858.053969
1,Western Cape,(CS2016) Grade 10/11 equivalent,143030.752227
2,Western Cape,(CS2016) Grade 9,48373.583902
3,Western Cape,(CS2016) Less than Grade 9,57296.679268
4,Western Cape,(CS2016) Matric/Metric equivalent,278951.995527
...,...,...,...
1365,LIM476 : Greater Tubatse/Fetakgomo,(CS2016) Any tertiary,2773.130355
1366,LIM476 : Greater Tubatse/Fetakgomo,(CS2016) Grade 10/11 equivalent,26048.097486
1367,LIM476 : Greater Tubatse/Fetakgomo,(CS2016) Grade 9,5761.960766
1368,LIM476 : Greater Tubatse/Fetakgomo,(CS2016) Less than Grade 9,6818.007734
1369,LIM476 : Greater Tubatse/Fetakgomo,(CS2016) Matric/Metric equivalent,15425.996757

In [56]:
replacements = [
    ("(CS2016) Any tertiary", "Any tertiary"),
    ("(CS2016) Grade 10/11 equivalent", "Grade 10/11 equivalent"),
    ("(CS2016) Grade 9", "Grade 9"),
    ("(CS2016) Less than Grade 9", "Less than Grade 9"),
    ("(CS2016) Matric/Metric equivalent", "Matric/Matric equivalent"),
]
for (old, new) in replacements:
    commsurv2016["Highest level of education"].replace(old, new, inplace=True)

In [57]:
census2011["Geography"] = census2011["Geography"].apply(lambda cell: re.sub(" *:.+", "", cell))
census2011 = census2011.drop_duplicates(["Geography", "Highest level of education"])

In [58]:
commsurv2016["Geography"] = commsurv2016["Geography"].apply(lambda cell: re.sub(" *:.+", "", cell))
commsurv2016 = commsurv2016.drop_duplicates(["Geography", "Highest level of education"])

In [59]:
type(census2011)

pandas.core.frame.DataFrame

In [60]:
type(commsurv2016)

pandas.core.frame.DataFrame

In [61]:
highestedu2011_2016 = census2011.merge(commsurv2016, how="right", on=["Geography", "Highest level of education"], suffixes=("_2011", "_2016"))

In [62]:
replacements = [
    ("Eastern Cape", "EC"),
    ("Northern Cape", "NC"),
    ("Western Cape", "WC"),
    ("Gauteng", "GT"),
    ("Limpopo", "LIM"),
    ("Mpumalanga", "MP"),
    ("KwaZulu-Natal", "KZN"),
    ("Free State", "FS"),
    ("North West", "NW"),
]
for (prov, code) in replacements:
    highestedu2011_2016["Geography"].replace(prov, code, inplace=True)

In [67]:
highestedu2011_2016.loc[highestedu2011_2016["Geography"] == "CPT"]

   Geography Highest level of education    Count_2011     Count_2016
45       CPT               Any tertiary   24047.81880   23490.824737
46       CPT     Grade 10/11 equivalent  107472.68358   90415.368415
47       CPT                    Grade 9   29470.44261   26059.195193
48       CPT          Less than Grade 9   42853.01372   28999.662712
49       CPT   Matric/Matric equivalent  163254.78846  183445.871703

In [68]:
highestedu2011_2016_grouped = highestedu2011_2016.groupby(["Geography", "Highest level of education"])
highestedu2011_2016_grouped = highestedu2011_2016_grouped.sum(numeric_only=True)

# highestedu_abs_change represents the absolute change in population of a given education level group in a given geography.
highestedu2011_2016_grouped["highestedu_abs_change"] = highestedu2011_2016_grouped.apply(lambda row: row["Count_2016"] - row.Count_2011, axis = 1)

# 2011_highestedu_proportion represents the proportion of an aeducation level group of the total population for a geography in 2011
highestedu2011_2016_grouped["2011_highestedu_proportion"] = highestedu2011_2016_grouped['Count_2011'] / highestedu2011_2016_grouped.groupby('Geography')['Count_2011'].transform('sum')
# 2016_highestedu_proportion represents the proportion of an education level group of the total population for a geography in 2016
highestedu2011_2016_grouped["2016_highestedu_proportion"] = highestedu2011_2016_grouped['Count_2016'] / highestedu2011_2016_grouped.groupby('Geography')['Count_2016'].transform('sum')

# highestedu_proportion_change represents the change in the proportion an education level group represents
# as a total of the population in that geography. e.g. if the education level group "Grade 9 represented 
# 20% of the population in 2011 and 25% of the population in 2016, then highestedu_proportion_change 
# for education level group "Grade 9" would be 5 in that geography.
highestedu2011_2016_grouped["highestedu_proportion_change"] = highestedu2011_2016_grouped["2016_highestedu_proportion"] - highestedu2011_2016_grouped["2011_highestedu_proportion"]

# highestedu_proportion_change_pct represents the percentage by which the proportion of each 
# education level group in the geography changed. Since the absolute change in proportion is likely to 
# be proportional to the original proportion, this variable is more useful to highlight changes
# that are significant relative to the original population.
highestedu2011_2016_grouped["highestedu_proportion_change_pct"] = highestedu2011_2016_grouped["highestedu_proportion_change"] / highestedu2011_2016_grouped["2011_highestedu_proportion"]

# highestedu_magnitude_pct_change represents the percentage that an education level group changed. 
# i.e. if the education level group "Grade 9 had 100,000 people, and now it has 120,0000 people,
# its highestedu_magnitude_pct_change value would be 0.20, i.e. the "Grade 9" education level group grew by 20%.
highestedu2011_2016_grouped["highestedu_magnitude_pct_change"] = highestedu2011_2016_grouped["highestedu_abs_change"] / highestedu2011_2016_grouped["Count_2011"]
highestedu2011_2016_grouped

                                       Count_2011    Count_2016  \
Geography Highest level of education
BUF       Any tertiary                 2880.67207   3413.508758
          Grade 10/11 equivalent      25973.84675  23589.559968
          Grade 9                      4660.47549   5315.806223
          Less than Grade 9            8108.31539   7215.372455
          Matric/Matric equivalent    32186.73646  33286.366663
...                                           ...           ...
WC053     Any tertiary                   64.26049     34.807439
          Grade 10/11 equivalent       1030.88395   1314.514966
          Grade 9                       355.17172    541.632269
          Less than Grade 9             802.02297    641.013112
          Matric/Matric equivalent     1583.97806   2179.181005

                                      highestedu_abs_change  \
Geography Highest level of education
BUF       Any tertiary                           532.836688
          Grade 10/11 equivalent               -2384.286782
          Grade 9                                655.330733
          Less than Grade 9                     -892.942935
          Matric/Matric equivalent              1099.630203
...                                                     ...
WC053     Any tertiary                           -29.453051
          Grade 10/11 equivalent                 283.631016
          Grade 9                                186.460549
          Less than Grade 9                     -161.009858
          Matric/Matric equivalent               595.202945

                                      2011_highestedu_proportion  \
Geography Highest level of education
BUF       Any tertiary                                  0.039028
          Grade 10/11 equivalent                        0.351901
          Grade 9                                       0.063141
          Less than Grade 9                             0.109854
          Matric/Matric equivalent                      0.436075
...                                                          ...
WC053     Any tertiary                                  0.016751
          Grade 10/11 equivalent                        0.268717
          Grade 9                                       0.092581
          Less than Grade 9                             0.209061
          Matric/Matric equivalent                      0.412890

                                      2016_highestedu_proportion  \
Geography Highest level of education
BUF       Any tertiary                                  0.046876
          Grade 10/11 equivalent                        0.323941
          Grade 9                                       0.072999
          Less than Grade 9                             0.099084
          Matric/Matric equivalent                      0.457101
...                                                          ...
WC053     Any tertiary                                  0.007388
          Grade 10/11 equivalent                        0.279022
          Grade 9                                       0.114968
          Less than Grade 9                             0.136063
          Matric/Matric equivalent                      0.462558

                                      highestedu_proportion_change  \
Geography Highest level of education
BUF       Any tertiary                                    0.007847
          Grade 10/11 equivalent                         -0.027961
          Grade 9                                         0.009857
          Less than Grade 9                              -0.010770
          Matric/Matric equivalent                        0.021026
...                                                            ...
WC053     Any tertiary                                   -0.009362
          Grade 10/11 equivalent                          0.010305
          Grade 9                                         0.022387
          Less than Grade 9                              -0.072998
          Matric/Matric equivalent                        0.049668

                                      highestedu_proportion_change_pct  \
Geography Highest level of education
BUF       Any tertiary                                        0.201070
          Grade 10/11 equivalent                             -0.079456
          Grade 9                                             0.156112
          Less than Grade 9                                  -0.098036
          Matric/Matric equivalent                            0.048216
...                                                                ...
WC053     Any tertiary                                       -0.558922
          Grade 10/11 equivalent                              0.038349
          Grade 9                                             0.241806
          Less than Grade 9                                  -0.349170
          Matric/Matric equivalent                            0.120294

                                      highestedu_magnitude_pct_change
Geography Highest level of education
BUF       Any tertiary                                       0.184970
          Grade 10/11 equivalent                            -0.091796
          Grade 9                                            0.140615
          Less than Grade 9                                 -0.110127
          Matric/Matric equivalent                           0.034164
...                                                               ...
WC053     Any tertiary                                      -0.458338
          Grade 10/11 equivalent                             0.275134
          Grade 9                                            0.524987
          Less than Grade 9                                 -0.200755
          Matric/Matric equivalent                           0.375765

[1330 rows x 8 columns]

In [69]:
highestedu2011 = highestedu2011_2016_grouped[["Count_2011"]].copy()
highestedu2011["year"] = "2011"
highestedu2011.columns = ["Count", "year"]
highestedu2016 = highestedu2011_2016_grouped[["Count_2016"]].copy()
highestedu2016["year"] = "2016"
highestedu2016.columns = ["Count", "year"]
filename = "highestedu2011_2016_year_var.xlsx"
pd.concat([highestedu2011, highestedu2016]).reset_index().to_excel(filename, index=False)
wb = load_workbook(filename)
ws = wb.create_sheet(title="Documentation")
ws["A1"] = "Highest level of education attained by 20-24-year olds at 2011 and 2016."
wb.save(filename)

In [70]:
highestedu2011_2016_abs_change = highestedu2011_2016_grouped[["highestedu_abs_change"]].copy()
highestedu2011_2016_abs_change.columns = ["Count"]
filename = "highestedu2011_2016_abs_change.xlsx"
highestedu2011_2016_abs_change.reset_index().to_excel(filename, index=False)
wb = load_workbook(filename)
ws = wb.create_sheet(title="Documentation")
ws["A1"] = "Absolute population change between 2011 and 2016 for each age group in each geography."
wb.save(filename)

In [71]:
highestedu2011_2016_proportion_change_pct = highestedu2011_2016_grouped[["highestedu_proportion_change_pct"]].copy()
highestedu2011_2016_proportion_change_pct.columns = ["Count"]
filename = "highestedu2011_2016_proportion_change_pct.xlsx"
highestedu2011_2016_proportion_change_pct.reset_index().to_excel(filename, index=False)
wb = load_workbook(filename)
ws = wb.create_sheet(title="Documentation")
ws["A1"] = (
    "This represents the percentage by which the proportion of each\n"
    "age group in the geography changed. Since the absolute change in proportion is likely to\n"
    "be proportional to the original population proportion of the age group, this variable is more useful to highlight changes\n"
    "that are significant relative to the original population."
)
wb.save(filename)

In [72]:
highestedu2011_2016_magnitude_pct_change = highestedu2011_2016_grouped[["highestedu_magnitude_pct_change"]].copy()
highestedu2011_2016_magnitude_pct_change.columns = ["Count"]
filename = "highestedu2011_2016_magnitude_pct_change.xlsx"
highestedu2011_2016_magnitude_pct_change.reset_index().to_excel(filename, index=False)
wb = load_workbook(filename)
ws = wb.create_sheet(title="Documentation")
ws["A1"] = (
    "This represents the percentage that an age group population changed between 2011 and 2016.\n"
    "i.e. if the age group 0-14 had 100,000 people, and now it has 120,0000 people,\n"
    "its highestedu_magnitude_pct_change value would be 0.20, i.e. the 0-14 age group grew by 20%."
)
wb.save(filename)